
.hashicon {
  position: relative;
  right: 300px;
  top: 200px;
}

.maintext {
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
  width: 20%;
  font-size: 40px;
}

.searchbar {
  width: 800px;
}