
.hashicon {
  position: relative;
  right: 350px;
  top: 100px;
}

.maintext {
  position: relative;
  font-family: "Helvetica Neue";
  font-weight: bold;
  margin-left: 50px;
  margin-right: 50px;
  width: 20%;
  font-size: 40px;
}

.maindiv {
  display: flex;
  flex-direction: column;
}